@import "var";

.hover {
  border-bottom: 2px solid @textCol;
  cursor: pointer;
}

.inputText(@backColor, @borderColor, @textColor, @placeholderColor) {
  input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid @borderColor;
    padding: 10px 10px 10px 5px;
    background: @backColor;
    font-size: 16px;
    color: @textColor;

    .placeholderColor(@placeholderColor);

    &:focus {
      outline: none;
      border-bottom: 2px solid @borderColor;
    }
  }
}

.contentEditableInput {
  display: block;
  width: 100%;
  border: none;
  background: inherit;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.placeholderColor(@col) {
  &::-webkit-input-placeholder {
    color: @col;
    font-weight: 500;
  }
  &::-moz-placeholder {
    color: @col;
    font-weight: 500;
  }
  &:-moz-placeholder {
    color: @col;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    color: @col;
    font-weight: 500;
  }
}