@import "var";
@import "mixin";

* {
  box-sizing: border-box;
  font-family: "RobotoDraft", "Roboto", sans-serif;
}

body {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  background: @backCol;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px;

    .title {
      text-align: center;
    }

    .addTabField {
      .inputText;
    }

    h1 {
      margin: 0;
      color: @textCol;
    }
  }

  .nav {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0 12px;

    .menuItem {
      flex-grow: 1;
      flex-basis: 0;
      border-bottom: 2px solid @backCol;
      padding: 10px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        .hover;
      }

      .menuItemText {
        display: block;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @textCol;
      }
    }

    .selectedMenuItem{
      border-bottom: 2px solid yellow;
    }
  }
}

.content {
  position: relative;
  top: 105px;
  width: 80%;
  margin: auto;
  margin-bottom: 63px;
  padding: 20px 0;

  .completed {
    opacity: 0.25;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
    padding: 16px;
    border-radius: @borderRad;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .itemDone {
      height: 24px;
      margin-right: 20px;

      &:hover {
        .hover;
        border-radius: @borderRad;
      }

      img {
        width: 24px;
      }
    }

    .itemText {
      flex-grow: 1;
      overflow: hidden;
    }

    .itemDelete {
      height: 24px;
      margin-left: 20px;

      &:hover {
        .hover;
        border-radius: @borderRad;
      }

      img {
        width: 24px;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: @backCol;
  padding: 10px 0;

  .textField {
    flex-grow: 1;
    margin: 0 10%;

    .inputText;
  }
}

@media screen and (max-width: 400px) {
  .header {
    position: static;

    .head {
      width: 90%;
      flex-direction: column;
      padding: 10px 0 0 0;

      div {
        width: 100%;
        flex-basis: auto;
      }
    }

    .nav {
      width: 90%;
      flex-direction: column;
      padding: 0;

      .menuItem {
        flex-basis: auto;
      }
    }
  }

  .content {
    position: static;
    width: 90%;
  }

  .footer {
    .textField {
      margin: 0 5%;
    }
  }
}

.contentEditable {
  .contentEditableInput;
}

.contentEditableTab{
  text-align: center;
  color: @textCol;
}
